<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<%= yield %>
</body>

<script src="/livewire.js?id=<%= SecureRandom.uuid %>" data-csrf="<%= SecureRandom.uuid %>" data-uri="/livewire/update" data-navigate-once="true"></script>

</html>
